.accordeon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet_breakpoint) {
    min-height: 24px;
  }

  @media (max-width: $tablet_breakpoint) {
    &::after {
      content: "";
      position: absolute;
      left: 1%;

      width: 98%;
    }
  }
}
