.container {
  width: auto;
  max-width: $desktop_max_width;
  margin: 0 auto;
  padding: 0 $desktop_padding;


  @media (max-width: $desktop_breakpoint) {
    padding: 0 $tablet_padding;
  }

  @media (max-width: $tablet_breakpoint) {
    min-width: $mobile_min_width;
    padding: 0 $mobile_padding;
  }
}
