.copyright-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 14px 0 14px 0;

  list-style: none;

  @media (max-width: $desktop_breakpoint) {
    padding: 22px 0 22px 0;
  }

  @media (max-width: $tablet_breakpoint) {
    flex-direction: column;
    align-items: center;
    padding: 28px 0 6px;
  }
}

.copyright-list__item {
  @media (max-width: $desktop_breakpoint) {
    //
  }

  @media (max-width: $tablet_breakpoint) {
    &:not(:first-child) {
      margin-bottom: 20px;
    }
  }
}

.copyright-list__item:not(:last-child) {
  @media (max-width: $tablet_breakpoint) {
    //
  }
}

.copyright-list__item:last-child {
  margin-left: auto;

  @media (max-width: $tablet_breakpoint) {
    margin: 0 0 20px 0;
  }
}

.copyright-list__item--desktop {
  @media (max-width: $desktop_breakpoint) {
    width: 0;
  }

  @media (max-width: $tablet_breakpoint) {
    //
  }
}


.copyright-list__link {
  //
}

.copyright-list__link--desktop {
  margin-right: 65px;

  @media (max-width: $desktop_footer_breakpoint) {
    margin-right: 30px;
  }

  @media (max-width: $desktop_breakpoint) {
    display: none;
    margin: 0;

    @media (max-width: $tablet_breakpoint) {
      //
    }
  }
}

.copyright-list__link--absolute {
  margin-right: 143px;

  @media (max-width: $desktop_footer_breakpoint) {
    margin-right: 70px;
  }

  @media (max-width: $desktop_breakpoint) {
    position: absolute;
    top: 36px;
    left: 42.6%;

    margin: 0;


    @media (max-width: $tablet_breakpoint) {
      top: 124px;
      left: 0;

      width: 100%;

      text-align: center;
    }
  }
}
