.footer {
  margin: 0;
}

.footer h2 {
  margin: 0 0 26px 0;

  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include font_robotcon(15px, 16px, 400, $basic_dark);

  @media (max-width: $tablet_breakpoint) {
    margin: 0;
  }
}

.footer__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $desktop_max_width;
  margin: 0 auto;
  padding: 65px $desktop_padding 57px $desktop_padding;

  @media (max-width: $desktop_breakpoint) {
    padding: 0 0 35px 0;
  }

  @media (max-width: $tablet_breakpoint) {
    flex-direction: column;
    padding: 0;
  }
}

.footer__socials {
  //
}

.footer__nav {
  //
}

.footer__contacts {
  //
}

.footer__copyright {
  //
}

.footer a[href] {
  &:hover {
    position: relative;

    outline: none;
    opacity: 1;

    &::after {
      @include underline;
    }
  }

  &:focus {
    position: relative;

    outline: none;
    opacity: 1;

    &::after {
      @include underline;
    }
  }


  &:active {
    outline: none;
    opacity: $active_opacity;
  }
}

.footer button {
  outline-offset: $outline_shift;

  &:hover {
    outline: $underline_height solid $basic_skyblue;
  }


  &:focus {
    outline: $underline_height solid $basic_skyblue;
  }


  &:active {
    opacity: 0.7;
  }
}

.socials-list__link {
  &::after {
    display: none;
  }

  &:hover {
    & .socials__icon {
      outline: $underline_height solid $basic_skyblue;
      outline-offset: $outline_shift;
    }
  }

  &:focus {
    & .socials__icon {
      outline: $underline_height solid $basic_skyblue;
      outline-offset: $outline_shift;
    }
  }


  &:active {
    opacity: 0.7;
  }
}
