.header {
  position: relative;
  z-index: 1;

  background-color: $basic_dark;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;

    width: 100%;
    min-height: 879px;

    background-image: url("../img/header_back_desk@1x.png");
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header_back_desk@2x.png");
    }

    @media (max-width: $desktop_breakpoint) {
      min-height: 685px;

      background-image: url("../img/header_back_tab@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header_back_tab@2x.png");
      }
    }

    @media (max-width: $tablet_breakpoint) {
      min-height: 647px;

      background-image: url("../img/header_back_mob@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/header_back_mob@2x.png");
      }
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 31px 0;

  @media (max-width: $desktop_breakpoint) {
    padding: 14px 0 6px 0;
  }

  @media (max-width: $tablet_breakpoint) {
    padding: 6px 0;
  }
}

.header__logo {
  position: relative;
  z-index: 1;

  margin-right: auto;
}

.header__logo img {
  width: 202px;
  height: 52px;
  margin: 2px 0 0 0;

  @media (max-width: $desktop_breakpoint) {
    margin: 6px 0 0 0;
  }

  @media (max-width: $tablet_breakpoint) {
    width: 38px;
    height: 38px;
    margin: 10px 0 0 2px;
  }
}

.header__btn {
  position: relative;
  z-index: 1;

  margin: 0 3px 0 5px;

  @media (max-width: $desktop_breakpoint) {
    display: none;
  }
}

.header__link {
  position: relative;
  z-index: 1;
}
