
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


@mixin border-top-line {
  border-top: 1px solid $footer_border;
}

@mixin border-bottom-line {
  border-bottom: 1px solid $footer_border;
}

@mixin underline {
  content: "";
  position: absolute;
  top: $underline_tablet_shift;
  left: 0;

  width: 100%;
  height: $underline_height;

  background-color: $basic_skyblue;
  opacity: 1;

  @media (max-width: $tablet_breakpoint) {
    top: $underline_mobile_shift;
  }
}
