.nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  // max-height: 120px;
  width: 46%;
  margin: 0;
  padding: 0;
  overflow: auto;

  list-style: none;

  @media (max-width: $desktop_breakpoint) {
    width: 100%;
  }

  @media (max-width: $tablet_breakpoint) {
    //
  }
}

.nav-list--close {
  @media (max-width: $tablet_breakpoint) {
    display: none;
  }
}

.nav-list__item {
  max-width: 240px;


  @media (max-width: $desktop_footer_breakpoint) {
    margin: 0 50px 0 0;
  }

  @media (max-width: $desktop_breakpoint) {
    margin: 0;
  }
}

.nav-list a {
  opacity: 0.5;

  @include font_ptmono(15px, 25px, 400,  $basic_dark);
}
