.services-link {
  position: relative;

  display: block;
  width: 370px;
  height: 620px;
  margin: 30px 15px;

  @media (max-width: $desktop_breakpoint) {
    width: 720px;
    height: 256px;
    margin: 23px 0;
  }

  @media (max-width: $tablet_breakpoint) {
    width: 290px;
    margin: 15px 0;
  }
}

.services-link h3 {
  position: absolute;
  top: 50px;
  left: 45px;

  width: 160px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  @include font_robotcon(20px, 30px, 400, $basic_light);

  @media (max-width: $desktop_breakpoint) {
    top: 42px;
    left: 45px;
  }

  @media (max-width: $tablet_breakpoint) {
    top: 20px;
    left: 35px;
  }
}

.services-link img {
  width: 370px;
  height: 620px;

  @media (max-width: $desktop_breakpoint) {
    width: 720px;
    height: 256px;
  }

  @media (max-width: $tablet_breakpoint) {
    width: 290px;
    height: 256px;
  }
}

.services-link__icon {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;

  background-color: $basic_skyblue;


  // @media (max-width: $desktop_breakpoint) {
  //   //
  // }

  // @media (max-width: $tablet_breakpoint) {
  //   //
  // }
}

.services-link__icon svg {
  width: 24px;
  height: 24px;
}
