// background for retina display
$retina-dppx: 1.5dppx;
// $retina-dppx: 1.1dppx;
$retina-dpi: 144dpi;
// $retina-dpi: 100dpi;

// (min-resolution: $retina-dpi),
// (min-resolution: $retina-dppx)

// Desktop First Adaptive Layout
// -------------------------- mobile
$mobile_padding: 15px;
$mobile_min_width: 320px;

// -------------------------- tablet
$tablet_breakpoint: 767px;
$tablet_padding: 25px;
$tablet_width: 720px;
// -------------------------- desktop
$desktop_breakpoint: 1023px;
$desktop_additional_breakpoint: 1300px;
$desktop_padding: 30px;
$desktop_max_width: 1474px;

// -------------------------- basic colors
$basic_light: #ffffff;
$basic_dark: #1b2d37;
$basic_skyblue: #00b2ff;

// -------------------------- fonts
$font_lightgray: #788891;
$font_darkgray: #666666;

// @include font_robotcon($size, $line_height, $weight, $color);
// 400
// 700

// @include font_robot($size, $line_height, $weight, $color);
// 400
// 500

// @include font_ptmono($size, $line_height, $weight, $color);
// 400

// -------------------------- background colors
$body_back: #fafafa;
// -------------------------- border colors
$border_btn_rad: 5px;
$advantage_border: #ebebeb;
// $footer_border: #626962;
$footer_border: rgba(98, 105, 98, 0.2);
// -------------------------- effect colors
$outline_color: #2770b4;

// -------------------------- colors of technology
$container_outline: rgba(177, 180, 0, 0);
$section_outline: rgba(141, 128, 10, 0);
// .button:hover,
// .button:focus,
// .button:active

// @media (max-width: $desktop_breakpoint) {
//   //
// }

// @media (max-width: $tablet_breakpoint) {
//   //
// }

// object-fit: cover;
// object-position: center center;
